@model MusicApp.Models.UserModel

@{
    ViewBag.Title = "Home Page";
}


<div class="container body-content">
    <p></p>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>